*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
# Org-mode
.org-id-locations
*_archive
# flymake-mode
*_flymake.*
# eshell files
/eshell/history
/eshell/lastdir
# reftex files
*.rel
# AUCTeX auto folder
/auto/
# cask packages
.cask/
ido.last
recentf
projectile-bookmarks.eld
var/pcache/*
